17
brick
clay
department
earth
grass
house
hut
lava
metal
mountain
pine
pine1
rock
town
village
water
wood
water;lava;rock
water;rock;earth
water;earth;clay
rock;rock;mountain
earth;rock;grass
grass;grass;pine1
pine1;pine1;pine
pine;metal;wood
mountain;rock;metal
wood;wood;hut
hut;hut;village
village;clay;house
clay;lava;brick
brick;brick;house
house;house;town
town;town;department